<div class="tooltip-container">
    <div class="clearfix">
        <div class="">File name</div>
        <div>mila.jpg</div>
    </div>
    <div class="clearfix">
        <div>Object name</div>
        <div>Mila Kunis</div>
    </div>
    <div class="clearfix">
        <div>Caption</div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis libero veritatis voluptatem! Dignissimos dolorum iure nulla quaerat voluptate? Accusamus dolore dolorum eos laboriosam quam recusandae unde? Blanditiis ipsa neque qui.</div>
    </div>
</div>
