<div class="albums-wrapper">
    <div class="description">Welcome, {{name}}</div>
    <div *ngFor="let album of albums; let i = index" class="album-item-container clearfix">
        <div class="thumbnail">
            <img src="{{albums[i].albumThumbnailUrl}}">
        </div>
        <div class="album-description-wrapper">
            <div class="album-title">{{albums[i].albumTitle}}</div>
            <div class="files-count">{{albums[i].albumPhotosCount}} files</div>
            <div class="past-tense">{{albums[i].albumCreatedAt | date:'yyyy-MM-dd HH:mm:ss'}}</div>
        </div>
        <div class="arrow">
            <i class="fa fa-angle-double-right fa-2x" aria-hidden="true"></i>
        </div>
    </div>
</div>