<div class="albums-wrapper">
    <div class="description clearfix">
        <div (click)="backToAlbum()">
            <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
        </div>
        <div>
            <p>{{photoSingleName}}</p>
        </div>
    </div>
    <div class="single-photo-container">
        <div class="single-photo-img">
            <img src="{{currentPhoto.standard_resolution}}">
        </div>
        <div class="single-photo-description">
            <div class="clearfix">
                <div>File name</div>
                <div>{{photoSingleName}}</div>
            </div>
            <div class="clearfix">
                <div>Object name</div>
                <div>{{currentUser.full_name}}</div>
            </div>
            <div class="clearfix">
                <div>Caption</div>
                <div>{{currentUser.bio}}</div>
            </div>
        </div>
    </div>
</div>