<div class="tabs-wrapper">
    <ul class="clearfix">
        <li class="tab-inner active">
            <i class="fa fa-picture-o fa-lg" aria-hidden="true"></i>
        </li>
        <li class="tab-inner">
            <i class="fa fa-th-large fa-lg" aria-hidden="true"></i>
        </li>
        <li class="tab-inner">
            <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
        </li>
        <li class="tab-inner">
            <i class="fa fa-comment fa-lg" aria-hidden="true"></i>
        </li>
        <li class="tab-inner">
            <i class="fa fa-square-o fa-lg" aria-hidden="true"></i>
        </li>
        <li class="tab-inner">
            <i class="fa fa-flag fa-lg" aria-hidden="true"></i>
        </li>
    </ul>
</div>
