.photos-wrapper {
    padding: 5px;
}

.photo-list-item {
    float: left;
    padding: 5px;
}

.thumbnail-container {
    max-height: 110px;
    max-width: 110px;
}

img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.select-wrap {
    background-color: #F9F7F6;
    border: 1px solid lightgray;
    border-top: none;
    border-radius: 0 0 5px 5px;
    font-size: 12px;
    color: blue;
}

.select-wrap>div {
    float: left;
    margin-left: 3px;
}

.select {
    text-decoration: underline;
    cursor: pointer;
}

