<div class="albums-wrapper">
    <div class="description clearfix">
        <div (click)="backToAlbums()">
            <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
        </div>
        <div>
            <i class="fa fa-folder fa-lg" aria-hidden="true"></i>
        </div>
        <div>
            <p>{{currentAlbum.albumTitle}}</p>
        </div>
    </div>
    <div class="photos-wrapper">
        <div *ngFor="let photo of currentAlbum.albumPhotos" class="photo-list-item clearfix">
            <div class="thumbnail-container">
                <img src="{{photo.thumbnail}}">
            </div>
            <div class="select-wrap clearfix">
                <div>
                    <i class="fa fa-check" aria-hidden="true"></i>
                </div>
                <div routerLink="{{photo.id}}" class="select">Select</div>
            </div>
        </div>
    </div>
</div>
