<div class="single-photo-container">
    <div class="single-photo-img">
        <img src="../../assets/images/111.png">
    </div>
    <div class="single-photo-description">
        <div class="clearfix">
            <div class="">File name</div>
            <div>mila.jpg</div>
        </div>
        <div class="clearfix">
            <div>Object name</div>
            <div>Mila Kunis</div>
        </div>
        <div class="clearfix">
            <div>Caption</div>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis libero veritatis voluptatem!
                Dignissimos dolorum iure nulla quaerat voluptate? Accusamus dolore dolorum eos laboriosam quam
                recusandae unde? Blanditiis ipsa neque qui.
            </div>
        </div>
    </div>
</div>