.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

ul, ol, p {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    max-width: 500px;
    margin: 0 auto;
}

.authorization {

}

.authorize-link {
    margin-top: 10px;
    text-align: center;
}

.authorize-link a {
    display: inline-block;
    padding: 5px 10px;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 5px;
    background-color: lightskyblue;
}

.authorize-link a:hover {
    transition: 0.3s;
    background-color: blue;
}

.description {
    padding: 5px;
    font-size: 13px;
    color: dimgray;
    border-bottom: 1px solid lightgray;
    margin-top: -1px;
    border-top: 1px solid lightgray;
}